<div class="form-group row">
  <label for="example-email-input" class="col-2 col-form-label">Event Name</label>
  <div class="col-10">
    <input class="form-control" type="Title" value="Event Name" id="example-title-input">
  </div>
</div>
<div class="form-group row">
  <label for="example-tel-input" class="col-2 col-form-label">Summary</label>
  <div class="col-10">
    <input class="form-control" type="Event Info" value="Event Information" id="example-event-summary-input">
  </div>
</div>
<div class="form-group row">
  <label for="example-password-input" class="col-2 col-form-label">Location</label>
  <div class="col-10">
    <input class="form-control" type="Location" value="Location" id="example-location-input">
  </div>
</div>
<div class="form-group row">
  <label for="example-date-input" class="col-2 col-form-label">Event Date</label>
  <div class="col-10">
    <input class="form-control" type="date" value="2011-08-19" id="example-date-input">
  </div>
</div>
<div class="form-group row">
  <label for="example-time-input" class="col-2 col-form-label">Appoved Attendees</label>
  <div class="col-10">
    <input class="form-control" type="Unique id" value="123-456" id="example-id-input">
  </div>
</div>
<div class="form-group row">
  <label for="example-time-input" class="col-2 col-form-label">Max Attendees</label>
  <div class="col-10">
    <input class="form-control" type="Max Attendees" value="100" id="example-attendees-input">
  </div>
</div>
<div class="form-group row">
  <button type="submit" class="btn btn-primary">Submit</button>
</div>