 <nav>
    <div class="nav-wrapper light-blue">
      <a href="#" class="brand-logo">Company Name Here</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">

        <li><a class="waves-effect waves-light btn-large" >Home</a>
        <li><a class="btn waves-effect waves-black">Send</a>

        <li><a class="waves-effect waves-pink waves-ripple btn-large pink" >Events</a>
        <li><a class="waves-effect waves-light btn-large" >Registration</a>
        <li><a class="waves-effect waves-light btn-large" >Travel</a>

      </ul>
    </div>
  </nav>

 Change up someting here
<div> 

  Hello 
</div>